body {
  width: 240px;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #ccc;
  border-radius: 6px;
  margin: 10px;
}

section {
  margin-bottom: 10px;
  padding: 6px;
}

h2 {
  font-size: 16px;
  margin-bottom: 6px;
}

.content {
  padding: 6px;
}

#course-section {
  margin-top: 2px;
}

#professor-section {
  margin-bottom: 2px;
}

#random-container-id {
  text-align: center;
}
